.default-page {
  padding: 5rem;
  font-family: var(--font-family-1);
}

.separator {
  margin: 1rem 0;
  border-bottom: solid 1px var(--color-3);
}

.separator-graph {
  padding: 15px 0px;
  margin: 1rem 0;
  border-bottom: solid 1px var(--color-3);
}

.graphic-type {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  padding-right: 10px;
  gap: .1rem;
}

.default-button {
  position: absolute;
  right: 100px;
  width: 300px;
  border-radius: 25px;
  width: 150px;
  height: 40px;
  color: var(--color-3);
  background-color: var(--color-4);
  opacity: 80%;
}

.default-text {
  font-weight: bold;
  font-size: var(--font-size-1);
  text-align:center;
  vertical-align: middle;
}

button:hover {
  border-radius: 25px;
  color: var(--color-1);
  background-color: var(--color-6);
}

.type-button {
  border-radius: 10%;
  width: 40px;
  height: 40px;
  color: var(--color-3);
  background-color: var(--color-2);
  opacity: 80%;
}

.type-button:hover {
  color: var(--color-5);
  background-color: var(--color-6);
}
