<div class="default-page">  
  <h1>Assessment: Strategic Indicators</h1>

  <app-group-selector (newItemEvent)= "selectGroup($event)"></app-group-selector>

  <div class="dates">
  </div>

  <ul class="graphic-type ">
    <li *ngFor="let item of menuOptions">
      <app-graphic-type [name]="item.name" (newItemEvent)= "selectGraph($event)"></app-graphic-type>
    </li>
  </ul>
  <div class="separator"></div>


  <div *ngIf="pie">
    <ul class="graphics">
      <li *ngFor="let item of options">
        <div echarts [options]="item.graph" class="demo-chart"></div>
        <button *ngIf="!existsDate" (click)="show()" class="default-button">
          <span class="default-text">More details</span>
        </button>
        <div *ngIf="showDetails">
          <ul class="list">
            <li *ngFor="let item of item.det">
              <div echarts [options]="item" class="demo-chart"></div>
            </li>
          </ul>
        </div>
        <div class="separator-graph"></div>
      </li>
    </ul>
  </div>

  <div *ngIf="bar">
    <ul class="graphics">
      <li *ngFor="let item of options">
        <div echarts [options]="item.graph" class="demo-chart"></div>
        <button (click)="show()" class="default-button">
          <span class="default-text">More details</span>
        </button>
        <div *ngIf="showDetails">
          <ul class="list">
            <li *ngFor="let item of item.det">
              <div echarts [options]="item" class="demo-chart"></div>
            </li>
          </ul>
        </div>
        <div class="separator-graph"></div>
      </li>
    </ul>
  </div>   

  <app-back-menu [routerLink]="'/assessment'"></app-back-menu>
</div>
