<div class="side-bar">
  <div class="side-bar__vertical"></div>
  <nav id="menu_gral">
    <ul>
      <li>
        <span >Assessment<i class="uil uil-angle-right logo"></i></span>
        <ul>
          <li [routerLink]="item.router" *ngFor="let item of mainMenu.assessment">
            <span>{{item.name}}</span>
          </li>
        </ul>
      </li>
      <!--<li>
        <span>Prediction<i class="uil uil-angle-right logo"></i></span>
        <ul>
          <li [routerLink]="item.router" *ngFor="let item of mainMenu.prediction">
            <span>{{item.name}}</span>
          </li>
        </ul>
      </li>
      <li>
        <span>Simulation<i class="uil uil-angle-right logo"></i></span>
        <ul>
          <li [routerLink]="item.router" *ngFor="let item of mainMenu.simulation">
            <span>{{item.name}}</span>
          </li>
        </ul>
      </li>
      <li>
        <span [routerLink]="'/alert'">Alerts</span>
      </li>
      <li>
        <span [routerLink]="'requirement'">Quality Requirements</span>
      </li>
      <li>
        <span [routerLink]="'decision'">Decisions</span>
      </li>-->
    </ul>
  </nav>
  
</div>
