.selector {
  bottom: 76%;
}

#menu_gral {
    position: absolute;
    width: 25%;
  }
  
    #menu_gral ul {
      list-style-type: none;
      list-style: none;
    }
  
    #menu_gral > ul li {
      display: inline-block;
      width: 30%;
      position: relative;
    }
  
    #menu_gral li span {
      cursor: pointer;
      display: block;
      text-decoration: none;
      font-size: 100%;
      font-weight: 500;
      line-height: 2.5rem;
      padding-left: 10%;
      color: var(--color-3);
    }
  
      #menu_gral li:hover span {
        border-radius: 10px;
        color: var(--color-5);
        background-color: var(--color-2);
      }
  
    #menu_gral li ul {
      position: absolute;
      width: 0;
      overflow: hidden;
    }
  
    #menu_gral li:hover ul, #menu_gral li:focus ul {
      width: 100%;
      z-index: 5;
      margin: 0;
      padding: 0;
      color: var(--color-3);
      background-color: var(--color-2);
    }
  
    #menu_gral li li {
      display: block;
      width: 100%;
    }
  
    #menu_gral li:hover li span, #menu_gral li:focus li span {
      border-radius: 0px;
      font-size: 1rem;
      line-height: 2rem;
      border-top: 1px solid #e5e5e5;
      color: var(--color-3);
      background-color: var(--color-2);
    }
  
    #menu_gral li li span:hover {
      color: var(--color-3);
      background-color: var(--color-6);
    }

.border {
  border-radius: 10px;
  border: 1px solid #000000;
}