<div class="default-page">
  <h1 class="subtitles">Current Assessment: Factors</h1>
  <app-group-selector (newItemEvent)= "selectGroupsAdmin($event)"></app-group-selector>

  <div *ngIf="!showOptions()" class="multisep">
    <p-multiSelect
      [options]="nameDesc"
      [disabled]="showMultiselect()"
      (onChange)="selectShowedGraphs($event)"
      defaultLabel="Select Factor" 
      optionLabel="name" 
      display="chip">
    </p-multiSelect>
  </div>

  <div *ngIf="showOptions()" class="multisep">
    <p-multiSelect
      [options]="nameDescCopy"
      [disabled]="showMultiselect()"
      (onChange)="selectShowedGraphs($event)"
      defaultLabel="Select Factor" 
      optionLabel="name" 
      display="chip">
    </p-multiSelect>
  </div>

  <div class="separator"></div>

  <div *ngIf="graphics.length > 0">
    <p-accordion [multiple]="true">
      <p-accordionTab *ngFor="let item of graphics; let i = index" [header]="item.stacked.title.text + ' ' + item.group" [selected]="true">
        <div echarts [options]="item.stacked" class="demo-chart"></div>
      </p-accordionTab>
      <div class="separator-graph"></div>
    </p-accordion>
  </div>
  <div *ngIf="graphics.length == 0" class="ini"></div>
</div>
