.default-page {
  padding-left: 5rem;
  padding-right: 5rem;
}

.default-page .subtitles {
  text-align: center;
}


.btnSol {
  width: 100%;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  padding-left: 2%;
}

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: auto;
    margin-bottom: 40px;
  }

  .login-box {
    background-color: #eee;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 2.3rem;
    text-align: center;
  }
  
  .login-box > div {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 2rem 0;
  }
  
  a {
    background-color: #908375;
    color: #fff;
    font-size: 22px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
  }

  .separator {
    margin-top: 0.5rem;
    border-bottom: solid 1px var(--color-3);
  }

  .content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    padding: 0 2%;
    padding-top: 20px;
    margin-bottom: 40px;
  }

  .content > div {
    margin-right: 10px;
    text-align: center;
  }


  .p-button {
    background-color: #ae9f8e;
    border-width: 0;
    width: 300px;
    height: 100px; 
    text-align: center;
  }

  .p-button:hover {
    background-color: #d7c8b8;
    color: #000000;
  }

  .nologged {
    padding-bottom: 30%;
  }

  .links {
    background-color: #fff;
    color: #747474;
    font-size: 12px;
    padding: 0;
    border: none;
  }