<div>
  <!--<p-dialog
	[(visible)]="login" [modal]="true"
	[draggable]="false" [resizable]="false" [closable]="false">

    <div class="login-box">
      <h1>Access</h1>
      <h2>To access the page identify yourself</h2>
      <div>
        <div>
          <a href="/auth">Login</a>
        </div>
      </div>
    </div>
  </p-dialog>-->
    
  <div class="info">
    <div>
      <h1>ASW11B</h1>
    </div>
    <div>
      <p>github.io</p>
      <p>taiga.com</p>
    </div>
  </div>
  <ul class="list">
    <li [routerLink]="item.router" *ngFor="let item of menuOptions">
      <app-home-option [name]="item.name" [description]="item.description"></app-home-option>
    </li>
  </ul>
</div>
