<div class="default-page">
  <!--<p-dialog
	[(visible)]="login" [modal]="true"
	[draggable]="false" [resizable]="false" [closable]="false">

    <div class="login-box">
      <h1>Access</h1>
      <h2>To access the page identify yourself</h2>
      <div>
        <div>
          <a href="/auth">Login</a>
        </div>
      </div>
    </div>
  </p-dialog>-->
  <h1 class="subtitles">Home</h1>  

  <div class="info">
    <div>
      <h2>ASW11B</h2>
    </div>
    <div>
      <p>github.io</p>
      <p>taiga.com</p>
    </div>
  </div>

  <div *ngFor="let item of nameDesc">
    <h3>{{item.name}}</h3>
    <div class="separator"></div>
    <div class="content">
      <div *ngFor="let t of item.options" >
        <button pButton [routerLink]="t.route">{{t.text}}</button>
      </div>
    </div>
  </div>
  
</div>
