.titles {
    text-align: center;
    padding-top: 120px;
  }
  
  .list {
    display: grid;
    list-style: none;
    margin: 0;
    gap: 6rem;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }