<div class="default-page">
  <h1 class="subtitles">Current Assessment: Metrics</h1>
  <app-group-selector (newItemEvent)= "selectGroupsAdmin($event)"></app-group-selector>

  <div *ngIf="!showOptions()" class="multisep">
    <p-multiSelect
      [options]="nameDesc"
      [disabled]="showMultiselect()"
      (onChange)="selectShowedGraphs($event)"
      defaultLabel="Select Metric" 
      optionLabel="name" 
      display="chip">
    </p-multiSelect>
  </div>

  <div *ngIf="showOptions()" class="multisep">
    <p-multiSelect
      [options]="nameDescCopy"
      [disabled]="showMultiselect()"
      (onChange)="selectShowedGraphs($event)"
      defaultLabel="Select Metric" 
      optionLabel="name" 
      display="chip">
    </p-multiSelect>
  </div>
  

  <div class="separator"></div>

  <div *ngIf="graphics.length > 0 || pBar.length > 0">
    <p-accordion [multiple]="true">
      <p-accordionTab *ngFor="let item of graphics; let i = index" [header]="item.stacked.title.text + ' ' + item.group" [selected]="true">
        <div *ngIf="item.type == 'tipo1'">
          <div class="radiobutton" *ngFor="let rep of representationType2">
            <p-radioButton  [inputId]="rep.name" name="rep" [value]="rep" [(ngModel)]="item.select" (onChange)="changeSelected(i, $event)"></p-radioButton>
            <label class="label" [for]="rep.name">{{ rep.name }}</label>
          </div>
          <div *ngIf="item.select.name == 'Stacked Chart'" echarts [options]="item.stacked" class="demo-chart"></div>
          <p-progressBar *ngIf="item.select.name == 'Progress Bar'" [value]="item.value"></p-progressBar>
        </div>
        <div *ngIf="item.type == 'tipo2'">
          <div class="radiobutton" *ngFor="let rep of representationType">
            <p-radioButton  [inputId]="rep.name" name="rep" [value]="rep" [(ngModel)]="item.select" (onChange)="changeSelected(i, $event)"></p-radioButton>
            <label class="label" [for]="rep.name">{{ rep.name }}</label>
          </div>
          <div *ngIf="item.select.name == 'Pie Chart'" echarts [options]="item.pie" class="demo-chart"></div>
          <div *ngIf="item.select.name == 'Bar Chart'" echarts [options]="item.bar" class="demo-chart"></div>
          <div *ngIf="item.select.name == 'Stacked Chart'" echarts [options]="item.stacked" class="demo-chart"></div>
        </div>
      </p-accordionTab>
      <div class="separator-graph"></div>
    </p-accordion>
  </div>
  <div *ngIf="graphics.length == 0 && pBar.length == 0" class="ini"></div>
</div>
