<div class="default-page">
  <h1>Assessment: Metrics</h1>
  <app-group-selector (newItemEvent)= "selectGroup($event)"></app-group-selector>

  <div class="dates">
    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-hint class="text">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <ul class="graphic-type ">
    <li *ngFor="let item of menuOptions">
      <app-graphic-type [name]="item.name" (newItemEvent)= "selectGraph($event)"></app-graphic-type>
    </li>
  </ul>
  <div class="separator"></div>


  <div *ngIf="pie">
    <ul class="graphics">
      <li *ngFor="let item of options">
        <div echarts [options]="item" class="demo-chart"></div>
        <div class="separator-graph"></div>
      </li>
    </ul>
  </div>

  <div *ngIf="bar">
    <ul class="graphics">
      <li *ngFor="let item of options">
        <div echarts [options]="item" class="demo-chart"></div>
        <div class="separator-graph"></div>
      </li>
    </ul>
  </div>


</div>
