  .default-button {
    border-radius: 10%;
    width: 40px;
    height: 40px;
    color: var(--color-3);
    background-color: var(--color-2);
    opacity: 80%;
  }

  .default-button:hover {
    color: var(--color-5);
    background-color: var(--color-6);
  }