<div class="default-page">
  <h1>Assessment: Detailed Factors</h1>
  <app-group-selector></app-group-selector>
  <ul class="graphic-type ">
    <li *ngFor="let item of menuOptions">
      <app-graphic-type [name]="item.name"></app-graphic-type>
    </li>
  </ul>
  <div class="separator"></div>
  <app-generic-graphic [title]="'Commits contribution'"></app-generic-graphic>
  <app-generic-graphic [title]="'Commits management'"></app-generic-graphic>
  <app-generic-graphic [title]="'Commits tasks relation'"></app-generic-graphic>
  <app-generic-graphic [title]="'Fulfillment of tasks'"></app-generic-graphic>
  <app-generic-graphic [title]="'Modified lines contribution'"></app-generic-graphic>
  <app-generic-graphic [title]="'Tasks contribution'"></app-generic-graphic>
  <app-generic-graphic [title]="'Tasks effort information'"></app-generic-graphic>
  <app-generic-graphic [title]="'Unassigned tasks'"></app-generic-graphic>
  <app-generic-graphic [title]="'User stories definition'"></app-generic-graphic>
  <app-back-menu [routerLink]="'/assessment'"></app-back-menu>
</div>
