<div class="header">
    <div class="header_top">
      <div class="header_top_content">
        <div class="logo"></div>
        <div class="header-user">
          <div class="separador"></div>
          <button pButton type="submit">
            <span class="exit_to_app"></span>Logout
          </button>
        </div>
      </div>
    </div>
    <div class="header_bottom">
    <div class="header_bottom_content">
        <div class="entitat">Learning Dashboard</div>
    </div>
    </div>
    <div class="header_menu">
      <ul>
        <li class="pad"><a href="/home" class="active">Home</a></li>
          <div class="separador-gris"></div>
          <li><p-menubar [model]="stOptions"></p-menubar></li>
          <div class="separador-gris"></div>
          <li><p-menubar [model]="fOptions"></p-menubar></li>
          <div class="separador-gris"></div>
          <li><p-menubar [model]="mOptions"></p-menubar></li>
      </ul>
    
    </div>
   
  </div>
