::ng-deep .p-card {
  box-shadow: none;
  background: none;
  display: flex;
}

::ng-deep .p-card .p-card-body {
  padding: 0;
  width: 100%;
}

::ng-deep .p-card .p-card-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.header-user{
  display: flex;
  align-items: center;
}

.separador{
  background-image: url(../../../../assets/img/separador.svg);
  background-repeat: no-repeat;
  height: 18px;
  width: 2px;
}

.separador-gris{
  background-image: url(../../../../assets/img/separador-gris.svg);
  background-repeat: no-repeat;
  height: 18px;
  width: 2px;
}

.exit_to_app{
  background-image: url(../../../../assets/img/exit_to_app.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: #71675c;
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

.p-button{
  background-color: #71675c;
  border: none;
  font-size: .9rem;
}

.p-button:hover{
  background-color: #71675c;
  border: none;
  text-decoration: underline;
}

.pad {
  padding: 0 16px;
}

.act {
  line-height: 58px;
  border-bottom: 3px solid #c00000;
}