<div class="default-page">
    <h1 class="subtitles">Factors by Dates</h1>
    <app-group-selector (newItemEvent)= "selectGroupsAdmin($event)"></app-group-selector>
  
    <div class="options">
        <div class="margin">
            <p-multiSelect
              [options]="nameDesc"
              [disabled]="showMultiselect()"
              (onChange)="selectShowedGraphs($event)"
              defaultLabel="Select Metric" 
              optionLabel="name" 
              display="chip">
            </p-multiSelect>
        </div>
          
        <div class="margin">
            <p-calendar 
                [(ngModel)]="rangeDates"
                [minDate]="minDate" 
                [maxDate]="maxDate" 
                selectionMode="range" 
                dateFormat="dd/mm/yy"
                placeholder="Select Range of Dates"
                [readonlyInput]="true"
                [showIcon]="true"
                (onClose)="customRange()">
            </p-calendar>
        </div>

        <div *ngIf="dateOptions[0].date.length === 0" class="margin">
            <p-dropdown 
                [options]="dateOptionsCopy" 
                [(ngModel)]="selectedDefault"
                placeholder="Default Range of Dates"
                optionLabel="name"
                (onClick)="takeDefault()">
            </p-dropdown>
        </div>

        <div *ngIf="dateOptions[0].date.length > 0" class="margin">
            <p-dropdown 
                [options]="dateOptions" 
                [(ngModel)]="selectedDefault"
                placeholder="Default Range of Dates"
                optionLabel="name"
                (onClick)="takeDefault()">
            </p-dropdown>
        </div>
    </div>
    
  
  
    <div class="separator"></div>
  
    <div *ngIf="graphics.length > 0">
      <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let item of graphics; let i = index" [header]="item.stacked.title.text + ' ' + item.group" [selected]="true">
          <div echarts [options]="item.stacked" class="demo-chart"></div>
        </p-accordionTab>
        <div class="separator-graph"></div>
      </p-accordion>
    </div>
    <div *ngIf="graphics.length == 0" class="ini"></div>
  </div>

